{% extends 'base.html' %}
{% load static %}

{% block content %}
    {%  include 'base/header.html' with title='오프라인 특정지역 고객데이터 조회' %}
        <form  method="get" action={% url 'search:offline_location_clients' %} onsubmit="return click_search();">
        {% csrf_token %}

        <div>

            <div class="input-group mb-3 w-75">
                <span class="input-group-text">검색주소(예]서울|경기|인천) - 필수값</span>
                <input type="text" class="form-control" name="locations" id="locations" placeholder="예) 서울|경기|인천">
            </div>
            <div class="input-group mb-3 w-75">
                <span class="input-group-text">제외할 주소명(예]서울|경기|인천)</span>
                <input type="text" class="form-control" name="not_include_location" id="not_include_location" placeholder="예) 서울|경기|인천">
            </div>

            <div class="input-group m-3 w-50">
                <div class="form-check w-25 p-2">
                  <input class="form-check-input" type="checkbox" value="1" id="is_buyer_for_days" name="is_buyer_for_days" checked onclick="click_check()">
                  <label class="form-check-label" for="is_buyer_for_days">
                    꽃구매기간 포함 여부
                  </label>
                </div>
                <span class="input-group-text">시작일</span><input type="date" class="form-control" name="start" id="start">
                <span class="input-group-text">마지막일</span> <input type="date" class="form-control" name="end" id="end">
            </div>
        </div>

        {%  include 'base/form_search_submit.html'  %}
    </form>

    {%  include 'base/file_list_table.html' with fun_name='offline_location_clients'%}
<script>
    function click_check(){
        if( document.getElementById('is_buyer_for_days').checked){
            document.getElementById('start').disabled = false
            document.getElementById('end').disabled = false
        } else {
            document.getElementById('start').disabled = true
            document.getElementById('end').disabled = true

        }
    }
    function click_search(){

        if( document.getElementById('locations').value == ''){
            alert('조희 지역명 리스트를 |로 구분하여 넣어주세요')
            return false;
        }

        if( document.getElementById('is_buyer_for_days').checked &&
            (document.getElementById('start').value == ''
            || document.getElementById('end').value == '') ){
            alert('날짜를 다 입력해주세요')
            return false;
        }
        {%  include 'base/click_search.html' %}
    }
</script>

{% endblock %}
