{%  load static %}

<div>
    <div class="center-block" style="text-align: center; font-size: 20px"> File List </div>
    <div id="file_list">

        <table class="table table-primary table-striped">
            <thead>
                <th class="text-center">파일이름( 업무_연_월_일_시_분_초.csv) </th>
                <th>down</th>
                <th>delete</th>
            </thead>
            {% for f in files %}
            <tbody>
                <td>
                    {{f}}
                </td>
                <td>
                    <a href='/{{ folder }}/{{ f }}'>download</a>
                </td>
                <td>
                    <a href={%  url 'search:delete_file' %}?folder={{ folder }}&file={{ f }}&template=search:{{ fun_name }}>delete</a> <br>
                </td>
            </tbody>
        {% endfor %}
        </table>
    </div>
</div>