{% load static %}
<div class="flex-lg-fill">
    <input type="hidden" name="search" value="1">
    <div class="d-grid p-3 w-25">
        <input type="submit" class="btn btn-success btn" value="검색" id="search">
    </div>
</div>