{% load  static %}

<div style="padding-top: 20px">
    <div class="center-block" style="text-align: left; font-size: 20px; padding: 10px">
        <a href="{%  url 'search:index' %}"><button class='btn btn-danger'>Home</button></a>
    </div>
    <div class="alert alert-warning" style="text-align: center; font-size: 20px">
            {{ title }}
    </div>
</div>