{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" crossorigin="anonymous"/>
</head>
<body>
    <div class="container">
        <div class="alert alert-success m-2" style="text-align: center">꾸까 데이터 조회</div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        #
                    </th>
                    <th>
                        title
                    </th>
                    <th>
                        비고
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td><a href="{%  url 'search:days_buyer'%}">기간내 구매자수 조회</a></td>
                    <td>요청하는 기간내에 구매자수를 반환</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td><a href="{%  url 'search:class_buyer_and_newsletter'%}">클래스 고객데이터 요청(클래스구매고객, 뉴스레터동의)</a></td>
                    <td>클래스구매 고객리스트(뉴스레터동의)</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td><a href="{%  url 'search:class_not_buyer_with_address'%}">클래스를 구매하지 않은 고객(뉴스레터동의, 특정기간이후, 특정주소지)</a></td>
                    <td>클래스를 구매하지 않은 고객리스트(뉴스레터동의, 특정기간이후, 특정주소지)</td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td><a href="{%  url 'search:link_price_partial_cancel'%}">링크프라이스 부분취소 금액확인</a></td>
                    <td>order code List를 입력하여 해당 order code의 부분취소 금액을 확인</td>
                </tr>
                <tr>
                    <th scope="row">5</th>
                    <td><a href="{%  url 'search:first_buyer_count_month'%}">첫구매자수를 월별로 조회</a></td>
                    <td>월별로 첫구매자수를 조회</td>
                </tr>
                <tr>
                    <th scope="row">6</th>
                    <td><a href="{%  url 'search:re_buy_percentage'%}">현재까지 월별 재구매율 조회</a></td>
                    <td>현재까지 월별 재구매율을 조회</td>
                </tr>
                <tr>
                    <th scope="row">7</th>
                    <td><a href="{%  url 'search:end_subscribe_count_monthly'%}">원하는 날짜부터 현재까지 월별 구독종료 예정수</a></td>
                    <td>원하는 날짜부터 현재까지 월별 구독종료 예정수 조회</td>
                </tr>
                <tr>
                    <th scope="row">8</th>
                    <td><a href="{%  url 'search:subscribe_extension_count_monthly'%}">원하는 날짜부터 현재까지 월별 구독 연장수</a></td>
                    <td>원하는 날짜부터 현재까지 월별 구독 연장수 조회</td>
                </tr>
                <tr>
                    <th scope="row">9</th>
                    <td><a href="{%  url 'search:join_user_count'%}">회원가입자수 조회</a></td>
                    <td>기간내 회원가입자수 조회</td>
                </tr>
                <tr>
                    <th scope="row">10</th>
                    <td><a href="{%  url 'search:join_month_next_month_buyer_count'%}">선택월, 그 다음월 구매자수</a></td>
                    <td>해당월을 넣으면 해당월/ 그다음월 구매자수 조회</td>
                </tr>
                <tr>
                    <th scope="row">11</th>
                    <td><a href="{%  url 'search:offline_location_clients'%}">오프라인 특정지역 고객데이터 조회</a></td>
                    <td>뉴스레터 수신동의/특정기간 꽃배송구매자/지역/포함안되는지역명 조건으로 조회(이름, 전화번호, 주소(시, 구까지), 성별, 회원등급)</td>
                </tr>
                <tr>
                    <th scope="row">12</th>
                    <td><a href="{%  url 'search:buy_info_during'%}">특정기간동안 구매자 및 구매정보 조회</a></td>
                    <td>사용자아이디, 주문아이디, 주문번호, 전체구매횟수, 전화, 이메일, 뉴스레터, box_code, 새벽배송</td>
                </tr>
                <tr>
                    <th scope="row">13</th>
                    <td><a href="{%  url 'search:sell_product_info'%}">특정일자 기준으로 상풍코드로 판매리스트 조회</a></td>
                    <td>사용자아이디, 주문번호, 상품이름, 상품코드, 박스옵션, 카테고리번호, 카테고리이름, 총금액, 결제금액</td>
                </tr>
                <tr>
                    <th scope="row">14</th>
                    <td><a href="{%  url 'search:subscribers_cnt'%}">특정일자 기준으로 구독자 조회</a></td>
                    <td>상품명, 상품 코드, box_option_name, box_type, 구독자수</td>
                </tr>
                <tr>
                    <th scope="row">15</th>
                    <td><a href="{%  url 'search:invalid_point'%}">특정일 기준으로 삭제포인트 조회</a></td>
                    <td>사용자아이디, 이메일, 연락처, 포인트아이디, 기준일이전 포인트, 기준일이후 포인트, 사용포인트, 남은포인트, 삭제할포인트</td>
                </tr>
                <tr>
                    <th scope="row">16</th>
                    <td><a href="{%  url 'search:join_user_by_monthly'%}">회원가입자 수를 일별로 조회</a></td>
                    <td>날짜, 전체가입자, 외부채널/b2b 가입자, 비회원구매가입자, 순수회원가입자</td>
                </tr>
                <tr>
                    <th scope="row">17</th>
                    <td><a href="{%  url 'search:product_category_incoming_for_long'%}">카테고리별 월별 매출 조회</a></td>
                    <td>년월, 매출액</td>
                </tr>
                <tr>
                    <th scope="row">18</th>
                    <td><a href="{%  url 'search:payment_method_data'%}">결제방법별 매출액 및 결제건수 조회</a></td>
                    <td>결제타입,매출액, 거래건수</td>
                </tr>
                <tr>
                    <th scope="row">19</th>
                    <td><a href="{%  url 'search:sell_info_about_product_item_code'%}">아이템코드로 판매정보 조회하기</a></td>
                    <td>판매수량	판매가(상품 비용)	할인금액(등급할인+포인트할인+코드할인)	배송비	최종지불금액</td>
                </tr>
                <tr>
                    <th scope="row">20</th>
                    <td><a href="{%  url 'search:sell_info_about_product_item_code_subscription'%}">정기구독 아이템코드로 판매정보 조회하기</a></td>
                    <td>판매수량	판매가(상품 비용)	할인금액(등급할인+포인트할인+코드할인)	배송비	최종지불금액</td>
                </tr>
                <tr>
                    <th scope="row">21</th>
                    <td><a href="{%  url 'search:sell_info_about_product_item_code_regular_payment'%}">정기결제 아이템코드로 판매정보 조회하기</a></td>
                    <td>판매수량	판매가(상품 비용)	할인금액(등급할인+포인트할인+코드할인)	배송비	최종지불금액</td>
                </tr>
            </tbody>

        </table>
    </div>

</body>
</html>
