{%  extends 'base.html' %}
{% load static %}

{% block content %}

    {%  include 'base/header.html' with title='링크프라이스 부분취소 금액 확인' %}

        <div style="padding-top: 10px">
            <div class="m-3 alert alert-info">부분취소 확인을 원하는 주문번호를 ,로 구분하여 넣어주세요(예] 123456,5676878,44555)</div>
        </div>

    {% include 'text_template.html' with url_name='search:link_price_partial_cancel' fun_name='link_price_partial_cancel'%}

{%  endblock %}
