{%  extends 'base.html' %}
{% load static %}

{% block content %}

    {%  include 'base/header.html' with title='정기결제 아이템코드로 판매수량, 판매가, 할인금액, 배송비, 최종지불금액 조회' %}

        <div style="padding-top: 10px">
            <div class="m-3 alert alert-info">조회하려는 정기결제 처리한 아이템코드를 ,로 구분하여 ( 'V.블룸미니화병', 'V.화이트미니도기', 'V.블랙미니도기', 'V.모던베이직화병', 'V.꾸까로고화병', 'Z.중급용꽃가위', 'Z.플라워푸드_1BOX') </div>
        </div>

    {% include 'text_template_start_end.html' with url_name='search:sell_info_about_product_item_code_regular_payment' fun_name='sell_info_about_product_item_code_regular_payment'%}

{%  endblock %}
