{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" crossorigin="anonymous"/>
</head>
<body>
<div class="container">
{% if not success %}
    <div class="alert alert-danger" role="alert">
    ERROR <br/>
    {{ message }}
    </div>
{% endif %}
    {% block content %}
    {% endblock content %}
</div>
</body>
</html>
