{% load static %}

        <form  method="get" action={% url url_name %} onsubmit="return click_search();">
            {% csrf_token %}
            <div class="mb-3">
            </div>
            <div class="input-group mb-3 w-75">
                <span class="input-group-text">시작일</span>
                <input type="date" class="form-control" name="start" id="start">
                <span class="input-group-text">{{ input_title }}</span>
                <input type="text" class="form-control" name="search_word" id="search_word" placeholder="{{ input_placeholder }}">
            </div>
            {%  include 'base/form_search_submit.html' %}
        </form>

        {%  include 'base/file_list_table.html' %}

<script>
    function click_search(){
        if( document.getElementById('start').value == ''){
            alert('날짜를 입력해주세요')
            return false;
        }

        if( document.getElementById('search_word').value == ''){
            alert('검색어를 넣어 주세요')
            return false;
        }
        {%  include 'base/click_search.html' %}
    }
</script>
