{% load static %}

        <form  method="get" action={% url url_name %} onsubmit="return click_search();">
            {% csrf_token %}
            <div class="input-group mb-3 w-25">
                <span class="input-group-text">날짜</span>
                <input type="date" class="form-control" name="date" id="date">
            </div>
            {%  include 'base/form_search_submit.html' %}
        </form>

        {%  include 'base/file_list_table.html' %}

<script>
    function click_search(){
        if( document.getElementById('date').value == ''){
            alert('조희시작 날짜를 다 입력해주세요')
            return false;
        }
        {%  include 'base/click_search.html' %}
    }
</script>

