{%  load static %}

        <form  method="get" action={% url url_name %} onsubmit="return click_search();">
            {% csrf_token %}
            {%  include 'base/form_search_submit.html' %}
        </form>

    {%  include 'base/file_list_table.html' %}

<script>
    function click_search(){
        {%  include 'base/click_search.html' %}
    }
</script>