{% load static %}
<form  method="get" action={% url url_name %} onsubmit="return click_search();">
    {% csrf_token %}
    <div class="flex-lg-fill p-1">
{#            <div class="form-check">#}
{#                <div class="form-check">#}
{#                      <input class="form-check-input" type="radio" name="is_member" id="flexRadioDefault1" checked value="1">#}
{#                      <label class="form-check-label" for="flexRadioDefault1">#}
{#                        회원#}
{#                      </label>#}
{#                    </div>#}
{#                    <div class="form-check">#}
{#                      <input class="form-check-input" type="radio" name="is_member" id="flexRadioDefault2" value="2">#}
{#                      <label class="form-check-label" for="flexRadioDefault2">#}
{#                        비회원#}
{#                      </label>#}
{#                    </div>#}
{#                    <div class="form-check">#}
{#                      <input class="form-check-input" type="radio" name="is_member" id="flexRadioDefault3" value="3">#}
{#                      <label class="form-check-label" for="flexRadioDefault3">#}
{#                        탈퇴회원#}
{#                      </label>#}
{#                    </div>#}
{#                    <div class="form-check">#}
{#                      <input class="form-check-input" type="radio" name="is_member" id="flexRadioDefault4" value="4">#}
{#                      <label class="form-check-label" for="flexRadioDefault4">#}
{#                        외부채널#}
{#                      </label>#}
{#                    </div>#}
{#            </div>#}
        </div>
        <div class="input-group mb-3" style="width: 600px">
            <span class="input-group-text">product category</span>
            <select class="form-control form-select"
                    multiple aria-label="multiple select example"
                    id="product_category" name="product_category"
                    style="width: 30px; height: 430px">
                {% for d in data %}
                    <option value="{{d.id}}">{{d.code}}</option>
                {%  endfor %}
            </select>
            <span class="input-group-text">선택 category 포함여부</span>
            <div class="form-control"
                 style="bottom: 0px; align-items: end">
                <div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="is_include" id="flexRadioDefault1" value="1">
                      <label class="form-check-label" for="flexRadioDefault1">
                        포함
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="is_include" id="flexRadioDefault2" checked value="0">
                      <label class="form-check-label" for="flexRadioDefault2">
                        제외
                      </label>
                    </div>
                </div>
            </div>
        </div>

        {%  include 'base/form_search_submit.html' %}
    </div>
</form>

        {%  include 'base/file_list_table.html' %}

<script>
    function click_search(){
        ops = document.getElementById('product_category').options
        var i=0
        var count = 0
        for( i=0; i<ops.length; i++){
            if( ops[i].selected) count++
        }

        if(count==0 ){
            alert('product category를 하나이상 선택해주세요')
            return false;
        }
        {%  include 'base/click_search.html' %}
    }
</script>