{% load static %}
<form  method="get" action={% url url_name %} onsubmit="return click_search();">
    {% csrf_token %}
    <div class="flex-lg-fill p-1">
        <div>
            <div class="input-group m-3 w-50">
                <span class="input-group-text">시작일</span><input type="date" class="form-control" name="start" id="start"> <span class="input-group-text">마지막일</span> <input type="date" class="form-control" name="end" id="end">
            </div>
        </div>
        <div class="input-group mb-3" style="width: 600px">
            <span class="input-group-text">product category</span>
            <select class="form-control form-select"
                    multiple aria-label="multiple select example"
                    id="product_category" name="product_category"
                    style="width: 30px; height: 430px">
                {% for d in data %}
                    <option value="{{d.id}}">{{d.code}}</option>
                {%  endfor %}
            </select>
            <span class="input-group-text">선택 category 포함여부</span>
            <div class="form-control"
                 style="bottom: 0px; align-items: end">
                <div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="is_include" id="flexRadioDefault1" value="1">
                      <label class="form-check-label" for="flexRadioDefault1">
                        포함
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="is_include" id="flexRadioDefault2" checked value="0">
                      <label class="form-check-label" for="flexRadioDefault2">
                        제외
                      </label>
                    </div>
                </div>
            </div>
        </div>

        {%  include 'base/form_search_submit.html' %}
    </div>
</form>

        {%  include 'base/file_list_table.html' %}

<script>
    function click_search(){

        if( document.getElementById('start').value == ''
            || document.getElementById('end').value == '' ){
            alert('날짜를 다 입력해주세요')
            return false;
        }

        ops = document.getElementById('product_category').options
        var i=0
        var count = 0
        for( i=0; i<ops.length; i++){
            if( ops[i].selected) count++
        }

        if(count==0 ){
            alert('product category를 하나이상 선택해주세요')
            return false;
        }



        {%  include 'base/click_search.html' %}
    }
</script>