{%  load static %}

    <form  method="get" action={% url url_name %} onsubmit="return click_search();">
        {% csrf_token %}

        <div>
            <div class="input-group m-3 w-50">
                <span class="input-group-text">시작일</span><input type="date" class="form-control" name="start" id="start"> <span class="input-group-text">마지막일</span> <input type="date" class="form-control" name="end" id="end">
            </div>
        </div>

        {%  include 'base/form_search_submit.html' %}
    </form>

    {%  include 'base/file_list_table.html' %}
<script>
    function click_search(){
        if( document.getElementById('start').value == ''
            || document.getElementById('end').value == '' ){
            alert('날짜를 다 입력해주세요')
            return false;
        }
        {%  include 'base/click_search.html' %}
    }
</script>
