{%  load static %}

        <form  method="get" action={% url url_name %} onsubmit="return click_search();">
            {% csrf_token %}
            <div class="mb-3">
            </div>
            <div class="input-group mb-3">
                <textarea id="text_input" name="text_input" cols="200", rows="10" placeholder=""></textarea>
            </div>
            {%  include 'base/form_search_submit.html' %}
        </form>

    {%  include 'base/file_list_table.html' %}

<script>
    function click_search(){
        if( document.getElementById('text_input').value == ''){
            alert('text를 입력해주세요')
            return false;
        }
        {%  include 'base/click_search.html' %}
    }
</script>